body{
  background: #000;
  font-family: Carlito, serif;
  padding-top: 70px;
}

h1{
  position: fixed;
  color: white;
  background: black;
  right: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0.7em;
  z-index: 1000;
  width: 100vw;
}

#RDR2{
  max-width: 100%;
  height: auto;
  display: block;
}

#under-banner-container {
  position: relative;
  overflow: hidden;
  background-image: url("img/under-banner.jpg");
  margin: 0 auto;
  max-width: 800px;
}
/*#under-banner*/
/*{*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*}*/

#under-text {

  color: white;
  margin: 0 1em;
  text-align: center;
  font-size: 1.2em;

}

ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 1em;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  max-width: 400px;
  margin: 2.5rem;
}

.ceva-poze {
  max-height: 25em;
  transition: ease-in 0.2s;
  cursor: pointer;
  width: 100%; /* Fill container width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Prevent distortion */
}
.ceva-poze:hover {
  transform: scale(1.1);

}

a {
  padding: 0.5em 0; /* Add vertical spacing */
  margin-top: 1em; /* Space between image and text */
  text-align: center; /* Center the text */
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  transition: ease-in 0.2s;
  cursor: pointer;
}
a:hover{
  color: red;
}

footer p{
  color: white;
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

p + p {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}